<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="iLuffyConfig" type="ILuffy.Core.ILuffyConfig, ILuffy.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=588184177fcaff83"/>
  </configSections>
  <iLuffyConfig xmlns="urn:ILuffy.Core">
    <instances>
      <instanceElement name="printer.USB" description="" typeFullName="ILuffy.Printer.USB.USBPrinter, ILuffy.Printer"/>
      <instanceElement name="printer.UART" description=" Universal Asynchronous Receiver Transmitter串口" typeFullName=""/>
      <instanceElement name="printer.LPT" description="" typeFullName=""/>
      <instanceElement name="printer.Network" description="" typeFullName=""/>
      <instanceElement name="printer.WINAPI" description="" typeFullName=""/>
    </instances>
  </iLuffyConfig>
</configuration>