<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="iLuffyConfig" type="ILuffy.IOP.ILuffyConfig, ILuffy.IOP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=588184177fcaff83"/>
  </configSections>
  <iLuffyConfig xmlns="urn:ILuffy.IOP">
    <instances>
      <instanceElement name="printer.USB" description="" typeFullName="ILuffy.IOP.Printer.USB.USBPrinter, ILuffy.IOP.Printer"/>
      <instanceElement name="printer.UART" description=" Universal Asynchronous Receiver Transmitter串口" typeFullName=""/>
      <instanceElement name="printer.LPT" description="" typeFullName=""/>
      <instanceElement name="printer.Network" description="" typeFullName=""/>
      <instanceElement name="printer.WINAPI" description="" typeFullName=""/>
    </instances>
  </iLuffyConfig>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
