<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="iopConfigurationSection" type="ILuffy.IOP.Configuration.IOPConfigurationSection, IOPCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=588184177fcaff83"/>
  </configSections>
  <iopConfigurationSection xmlns="urn:ILuffy.IOP.Configuration">
    <logger isMultipleThreadEnabled="true" flushInterval="20000" maxLoggers="1000" />
  </iopConfigurationSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
